In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

economic_status_2021_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/EconomicStatus-2021.csv'
household_composition_2021_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/HouseholdComposition-2021.csv'
economic_activity_2011_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/EconomicActivity-2011.csv'
household_composition_2011_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/HouseholdComposition-2011.csv'

economic_status_2021 = pd.read_csv(economic_status_2021_path)
household_composition_2021 = pd.read_csv(household_composition_2021_path)
economic_activity_2011 = pd.read_csv(economic_activity_2011_path)
household_composition_2011 = pd.read_csv(household_composition_2011_path)

data_2021 = pd.merge(economic_status_2021, household_composition_2021, on='geography code')
data_2011 = pd.merge(economic_activity_2011, household_composition_2011, on='geography code')

# Function to perform PCA projection
def perform_pca(data, n_components=2):
    pca = PCA(n_components=n_components)
    components = pca.fit_transform(data.select_dtypes(include=[float, int])) # Select numerical columns
    return pd.DataFrame(components, columns=[f'PCA{dim+1}' for dim in range(n_components)])

# Function to perform t-SNE projection
def perform_tsne(data, n_components=2):
    tsne = TSNE(n_components=n_components)
    components = tsne.fit_transform(data.select_dtypes(include=[float, int])) # Select numerical columns
    return pd.DataFrame(components, columns=[f'tSNE{dim+1}' for dim in range(n_components)])

# Perform projections for 2011 data
pca_2011 = perform_pca(data_2011)
tsne_2011 = perform_tsne(data_2011)

# Perform projections for 2021 data
pca_2021 = perform_pca(data_2021)
tsne_2021 = perform_tsne(data_2021)

# Save the projections to CSV files
pca_2011.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011.csv', index=False)
tsne_2011.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011.csv', index=False)
pca_2021.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/PCA_2021.csv', index=False)
tsne_2021.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021//tSNE_2021.csv', index=False)

In [4]:
import pandas as pd

# Paths to the CSV files
tsne_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011.csv'
household_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/HouseholdComposition-2011.csv'
economic_activity_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/EconomicActivity-2011.csv'

# Load the CSV files
tsne_data = pd.read_csv(tsne_path)
household_data = pd.read_csv(household_path)
economic_activity_data = pd.read_csv(economic_activity_path)

# Add a row identifier to each DataFrame
tsne_data['RowID'] = tsne_data.index
household_data['RowID'] = household_data.index
economic_activity_data['RowID'] = economic_activity_data.index

# Save the updated CSV files
tsne_data.to_csv(tsne_path, index=False)
household_data.to_csv(household_path, index=False)
economic_activity_data.to_csv(economic_activity_path, index=False)

In [5]:
import pandas as pd

# Paths to the CSV files
tsne_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011.csv'
household_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/HouseholdComposition-2011.csv'
economic_activity_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/EconomicActivity-2011.csv'

# Load the CSV files
tsne_data = pd.read_csv(tsne_path)
household_data = pd.read_csv(household_path)
economic_activity_data = pd.read_csv(economic_activity_path)

# Add a row identifier to each DataFrame
tsne_data['RowID'] = tsne_data.index
household_data['RowID'] = household_data.index
economic_activity_data['RowID'] = economic_activity_data.index

# Print to verify the RowID column
print(tsne_data.head())
print(household_data.head())
print(economic_activity_data.head())

# Save the updated CSV files
tsne_data.to_csv(tsne_path, index=False)
household_data.to_csv(household_path, index=False)
economic_activity_data.to_csv(economic_activity_path, index=False)

       tSNE1     tSNE2  RowID
0 -14.134161  0.675542      0
1  36.677685 -2.023144      1
2 -23.400747 -2.157263      2
3   1.295335 -4.383373      3
4  32.066525 -2.493089      4
   date       geography geography code Rural Urban  \
0  2011      Darlington      E06000005       Total
1  2011   County Durham      E06000047       Total
2  2011      Hartlepool      E06000001       Total
3  2011   Middlesbrough      E06000002       Total
4  2011  Northumberland      E06000057       Total

   Household Composition: All categories: Household composition; measures: Value  \
0                                              46670
1                                             223803
2                                              40434
3                                              57203
4                                             138534

   Household Composition: One person household; measures: Value  \
0                                              15101
1                                              70007
2                                              13392
3                                              17708
4                                              41406

   Household Composition: One person household: Aged 65 and over; measures: Value  \
0                                               6124
1                                              30493
2                                               5544
3                                               7290
4                                              19407

   Household Composition: One person household: Other; measures: Value  \
0                                               8977
1                                              39514
2                                               7848
3                                              10418
4                                              21999

   Household Composition: One family household; measures: Value  \
0                                              29370
1                                             142738
2                                              25251
3                                              34875
4                                              91809

   Household Composition: One family only: All aged 65 and over; measures: Value  \
0                                               3877
1                                              19385
2                                               3069
3                                               3928
4                                              14239

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Household Composition: One family only: Cohabiting couple: All children non-dependent; measures: Value  \
0                                                207
1                                               1243
2                                                239
3                                                415
4                                                646

   Household Composition: One family only: Lone parent; measures: Value  \
0                                               5601
1                                              25063
2                                               5395
3                                               8533
4                                              13387

   Household Composition: One family only: Lone parent: Dependent children; measures: Value  \
0                                               4044
1                                              17145
2                                               3918
3                                               5960
4                                               8610

   Household Composition: One family only: Lone parent: All children non-dependent; measures: Value  \
0                                               1557
1                                               7918
2                                               1477
3                                               2573
4                                               4777

   Household Composition: Other household types; measures: Value  \
0                                               2199
1                                              11058
2                                               1791
3                                               4620
4                                               5319

   Household Composition: Other household types: With dependent children; measures: Value  \
0                                                805
1                                               3714
2                                                785
3                                               1744
4                                               2077

   Household Composition: Other household types: All full-time students; measures: Value  \
0                                                 11
1                                               1517
2                                                 14
3                                                684
4                                                 22

   Household Composition: Other household types: All aged 65 and over; measures: Value  \
0                                                101
1                                                592
2                                                113
3                                                198
4                                                384

   Household Composition: Other household types: Other; measures: Value  RowID
0                                               1282                         0
1                                               5235                         1
2                                                879                         2
3                                               1994                         3
4                                               2836                         4

[5 rows x 27 columns]
   date       geography geography code Rural Urban  \
0  2011      Darlington      E06000005       Total
1  2011   County Durham      E06000047       Total
2  2011      Hartlepool      E06000001       Total
3  2011   Middlesbrough      E06000002       Total
4  2011  Northumberland      E06000057       Total

   Sex: All persons; Economic Activity: All usual residents aged 16 to 74; measures: Value  \
0                                              76635
1                                             383796
2                                              66804
3                                             100551
4                                             233224

   Sex: All persons; Economic Activity: Economically active; measures: Value  \
0                                              53443
1                                             247101
2                                              43513
3                                              63582
4                                             158268

   Sex: All persons; Economic Activity: Economically active: In employment; measures: Value  \
0                                              47487
1                                             219826
2                                              36532
3                                              51535
4                                             142811

   Sex: All persons; Economic Activity: Economically active: Employee: Part-time; measures: Value  \
0                                              11555
1                                              50595
2                                              10092
3                                              15063
4                                              34368

   Sex: All persons; Economic Activity: Economically active: Employee: Full-time; measures: Value  \
0                                              30337
1                                             143922
2                                              22635
3                                              31301
4                                              86380

   Sex: All persons; Economic Activity: Economically active: Self-employed; measures: Value  \
0                                               5595
1                                              25309
2                                               3805
3                                               5171
4                                              22063

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Sex: Females; Economic Activity: Economically inactive: Retired; measures: Value  \
0                                               6829
1                                              37227
2                                               6170
3                                               7743
4                                              25052

   Sex: Females; Economic Activity: Economically inactive: Student (including full-time students); measures: Value  \
0                                               1336
1                                              11893
2                                               1525
3                                               3255
4                                               4042

   Sex: Females; Economic Activity: Economically inactive: Looking after home or family; measures: Value  \
0                                               2738
1                                              12274
2                                               2828
3                                               4943
4                                               7474

   Sex: Females; Economic Activity: Economically inactive: Long-term sick or disabled; measures: Value  \
0                                               1657
1                                              11464
2                                               2232
3                                               3324
4                                               4743

   Sex: Females; Economic Activity: Economically inactive: Other; measures: Value  \
0                                                795
1                                               4132
2                                                963
3                                               1825
4                                               2097

   Sex: Females; Economic Activity: Unemployed: Age 16 to 24; measures: Value  \
0                                                440
1                                               2104
2                                                569
3                                                831
4                                               1147

   Sex: Females; Economic Activity: Unemployed: Age 50 to 74; measures: Value  \
0                                                267
1                                                963
2                                                219
3                                                335
4                                                708

   Sex: Females; Economic Activity: Unemployed: Never worked; measures: Value  \
0                                                244
1                                               1215
2                                                398
3                                                710
4                                                624

   Sex: Females; Economic Activity: Long-term unemployed; measures: Value  \
0                                                713
1                                               2809
2                                                834
3                                               1192
4                                               1737

   RowID
0      0
1      1
2      2
3      3
4      4

[5 rows x 59 columns]

In [6]:
pca_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011.csv'

In [9]:
import pandas as pd

# Paths to the CSV files
tsne_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011.csv'
household_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/HouseholdComposition-2011.csv'
economic_activity_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/EconomicActivity-2011.csv'
pca_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011.csv'

# Load the CSV files
tsne_data = pd.read_csv(tsne_path)
household_data = pd.read_csv(household_path)
economic_activity_data = pd.read_csv(economic_activity_path)
pca_data = pd.read_csv(pca_path)

# Add a row identifier to each DataFrame
tsne_data['RowID'] = tsne_data.index
household_data['RowID'] = household_data.index
economic_activity_data['RowID'] = economic_activity_data.index
pca_data['RowID'] = pca_data.index

# Print to verify the RowID column
print(tsne_data.head())
print(household_data.head())
print(economic_activity_data.head())
print(pca_data.head())

# Save the updated CSV files with new names to avoid overwriting issues
tsne_data.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011_updated.csv', index=False)
household_data.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/HouseholdComposition-2011_updated.csv', index=False)
economic_activity_data.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/EconomicActivity-2011_updated.csv', index=False)
pca_data.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011_updated.csv', index=False)

       tSNE1     tSNE2  RowID
0 -14.134161  0.675542      0
1  36.677685 -2.023144      1
2 -23.400747 -2.157263      2
3   1.295335 -4.383373      3
4  32.066525 -2.493089      4
   date       geography geography code Rural Urban  \
0  2011      Darlington      E06000005       Total
1  2011   County Durham      E06000047       Total
2  2011      Hartlepool      E06000001       Total
3  2011   Middlesbrough      E06000002       Total
4  2011  Northumberland      E06000057       Total

   Household Composition: All categories: Household composition; measures: Value  \
0                                              46670
1                                             223803
2                                              40434
3                                              57203
4                                             138534

   Household Composition: One person household; measures: Value  \
0                                              15101
1                                              70007
2                                              13392
3                                              17708
4                                              41406

   Household Composition: One person household: Aged 65 and over; measures: Value  \
0                                               6124
1                                              30493
2                                               5544
3                                               7290
4                                              19407

   Household Composition: One person household: Other; measures: Value  \
0                                               8977
1                                              39514
2                                               7848
3                                              10418
4                                              21999

   Household Composition: One family household; measures: Value  \
0                                              29370
1                                             142738
2                                              25251
3                                              34875
4                                              91809

   Household Composition: One family only: All aged 65 and over; measures: Value  \
0                                               3877
1                                              19385
2                                               3069
3                                               3928
4                                              14239

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Household Composition: One family only: Cohabiting couple: All children non-dependent; measures: Value  \
0                                                207
1                                               1243
2                                                239
3                                                415
4                                                646

   Household Composition: One family only: Lone parent; measures: Value  \
0                                               5601
1                                              25063
2                                               5395
3                                               8533
4                                              13387

   Household Composition: One family only: Lone parent: Dependent children; measures: Value  \
0                                               4044
1                                              17145
2                                               3918
3                                               5960
4                                               8610

   Household Composition: One family only: Lone parent: All children non-dependent; measures: Value  \
0                                               1557
1                                               7918
2                                               1477
3                                               2573
4                                               4777

   Household Composition: Other household types; measures: Value  \
0                                               2199
1                                              11058
2                                               1791
3                                               4620
4                                               5319

   Household Composition: Other household types: With dependent children; measures: Value  \
0                                                805
1                                               3714
2                                                785
3                                               1744
4                                               2077

   Household Composition: Other household types: All full-time students; measures: Value  \
0                                                 11
1                                               1517
2                                                 14
3                                                684
4                                                 22

   Household Composition: Other household types: All aged 65 and over; measures: Value  \
0                                                101
1                                                592
2                                                113
3                                                198
4                                                384

   Household Composition: Other household types: Other; measures: Value  RowID
0                                               1282                         0
1                                               5235                         1
2                                                879                         2
3                                               1994                         3
4                                               2836                         4

[5 rows x 27 columns]
   date       geography geography code Rural Urban  \
0  2011      Darlington      E06000005       Total
1  2011   County Durham      E06000047       Total
2  2011      Hartlepool      E06000001       Total
3  2011   Middlesbrough      E06000002       Total
4  2011  Northumberland      E06000057       Total

   Sex: All persons; Economic Activity: All usual residents aged 16 to 74; measures: Value  \
0                                              76635
1                                             383796
2                                              66804
3                                             100551
4                                             233224

   Sex: All persons; Economic Activity: Economically active; measures: Value  \
0                                              53443
1                                             247101
2                                              43513
3                                              63582
4                                             158268

   Sex: All persons; Economic Activity: Economically active: In employment; measures: Value  \
0                                              47487
1                                             219826
2                                              36532
3                                              51535
4                                             142811

   Sex: All persons; Economic Activity: Economically active: Employee: Part-time; measures: Value  \
0                                              11555
1                                              50595
2                                              10092
3                                              15063
4                                              34368

   Sex: All persons; Economic Activity: Economically active: Employee: Full-time; measures: Value  \
0                                              30337
1                                             143922
2                                              22635
3                                              31301
4                                              86380

   Sex: All persons; Economic Activity: Economically active: Self-employed; measures: Value  \
0                                               5595
1                                              25309
2                                               3805
3                                               5171
4                                              22063

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Sex: Females; Economic Activity: Economically inactive: Retired; measures: Value  \
0                                               6829
1                                              37227
2                                               6170
3                                               7743
4                                              25052

   Sex: Females; Economic Activity: Economically inactive: Student (including full-time students); measures: Value  \
0                                               1336
1                                              11893
2                                               1525
3                                               3255
4                                               4042

   Sex: Females; Economic Activity: Economically inactive: Looking after home or family; measures: Value  \
0                                               2738
1                                              12274
2                                               2828
3                                               4943
4                                               7474

   Sex: Females; Economic Activity: Economically inactive: Long-term sick or disabled; measures: Value  \
0                                               1657
1                                              11464
2                                               2232
3                                               3324
4                                               4743

   Sex: Females; Economic Activity: Economically inactive: Other; measures: Value  \
0                                                795
1                                               4132
2                                                963
3                                               1825
4                                               2097

   Sex: Females; Economic Activity: Unemployed: Age 16 to 24; measures: Value  \
0                                                440
1                                               2104
2                                                569
3                                                831
4                                               1147

   Sex: Females; Economic Activity: Unemployed: Age 50 to 74; measures: Value  \
0                                                267
1                                                963
2                                                219
3                                                335
4                                                708

   Sex: Females; Economic Activity: Unemployed: Never worked; measures: Value  \
0                                                244
1                                               1215
2                                                398
3                                                710
4                                                624

   Sex: Females; Economic Activity: Long-term unemployed; measures: Value  \
0                                                713
1                                               2809
2                                                834
3                                               1192
4                                               1737

   RowID
0      0
1      1
2      2
3      3
4      4

[5 rows x 59 columns]
            PCA1          PCA2  RowID
0  -79047.287466   3930.553352      0
1  507468.377052  15406.780495      1
2 -102543.874738  13381.746861      2
3  -42864.244684  20717.968771      3
4  226276.459226  -4778.606108      4

In [10]:
import pandas as pd

# Paths to the CSV files
tsne_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/tSNE_2021.csv'
household_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/HouseholdComposition-2021.csv'
economic_activity_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/EconomicStatus-2021.csv'
pca_path = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/PCA_2021.csv'

# Load the CSV files
tsne_data = pd.read_csv(tsne_path)
household_data = pd.read_csv(household_path)
economic_activity_data = pd.read_csv(economic_activity_path)
pca_data = pd.read_csv(pca_path)

# Add a row identifier to each DataFrame
tsne_data['RowID'] = tsne_data.index
household_data['RowID'] = household_data.index
economic_activity_data['RowID'] = economic_activity_data.index
pca_data['RowID'] = pca_data.index

# Print to verify the RowID column
print(tsne_data.head())
print(household_data.head())
print(economic_activity_data.head())
print(pca_data.head())

# Save the updated CSV files with new names to avoid overwriting issues
tsne_data.to_csv(tsne_path, index=False)
household_data.to_csv(household_path, index=False)
economic_activity_data.to_csv(economic_activity_path, index=False)
pca_data.to_csv(pca_path, index=False)

       tSNE1     tSNE2  RowID
0 -26.168562  2.888429      0
1  -1.969907 -3.730030      1
2  -2.538585 -4.162847      2
3  12.454047 -0.055952      3
4 -16.459934  0.495093      4
   date             geography geography code  \
0  2021            Hartlepool      E06000001
1  2021         Middlesbrough      E06000002
2  2021  Redcar and Cleveland      E06000003
3  2021      Stockton-on-Tees      E06000004
4  2021            Darlington      E06000005

   Household composition: Total; measures: Value  \
0                                          40930
1                                          60261
2                                          61640
3                                          83756
4                                          48915

   Household composition: One person household; measures: Value  \
0                                              13616
1                                              19964
2                                              20663
3                                              25980
4                                              16714

   Household composition: One person household: Aged 66 years and over; measures: Value  \
0                                               5647
1                                               7739
2                                               9739
3                                              10812
4                                               6851

   Household composition: One person household: Other; measures: Value  \
0                                               7969
1                                              12225
2                                              10924
3                                              15168
4                                               9863

   Household composition: Single family household; measures: Value  \
0                                              25845
1                                              36756
2                                              39003
3                                              54449
4                                              30395

   Household composition: Single family household: All aged 66 years and over; measures: Value  \
0                                               3669
1                                               4496
2                                               6861
3                                               7855
4                                               4604

   Household composition: Single family household: Married or civil partnership couple; measures: Value  \
0                                              11290
1                                              15641
2                                              16823
3                                              25861
4                                              13879

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Household composition: Single family household: Cohabiting couple family: All children non-dependent; measures: Value  \
0                                                399
1                                                567
2                                                612
3                                                674
4                                                364

   Household composition: Single family household: Lone parent family; measures: Value  \
0                                               5628
1                                               9166
2                                               7803
3                                              10107
4                                               5757

   Household composition: Single family household: Lone parent family: With dependent children; measures: Value  \
0                                               3886
1                                               6236
2                                               5170
3                                               6697
4                                               3901

   Household composition: Single family household: Lone parent family: All children non-dependent; measures: Value  \
0                                               1742
1                                               2930
2                                               2633
3                                               3410
4                                               1856

   Household composition: Single family household: Other single family household; measures: Value  \
0                                                191
1                                                616
2                                                277
3                                                423
4                                                248

   Household composition: Single family household: Other single family household: Other family composition; measures: Value  \
0                                                191
1                                                616
2                                                277
3                                                423
4                                                248

   Household composition: Other household types; measures: Value  \
0                                               1469
1                                               3541
2                                               1974
3                                               3327
4                                               1806

   Household composition: Other household types: With dependent children; measures: Value  \
0                                                687
1                                               1549
2                                                965
3                                               1656
4                                                790

   Household composition: Other household types: Other, including all full-time students and all aged 66 years and over; measures: Value  \
0                                                782
1                                               1992
2                                               1009
3                                               1671
4                                               1016

   RowID
0      0
1      1
2      2
3      3
4      4

[5 rows x 26 columns]
   date             geography geography code  \
0  2021            Hartlepool      E06000001
1  2021         Middlesbrough      E06000002
2  2021  Redcar and Cleveland      E06000003
3  2021      Stockton-on-Tees      E06000004
4  2021            Darlington      E06000005

   Economic activity status: Total: All usual residents aged 16 years and over  \
0                                              74685
1                                             113939
2                                             112340
3                                             158008
4                                              88103

   Economic activity status: Economically active (excluding full-time students)  \
0                                              39487
1                                              58233
2                                              57807
3                                              89315
4                                              50768

   Economic activity status: Economically active (excluding full-time students):In employment  \
0                                              36846
1                                              53849
2                                              54282
3                                              84174
4                                              48103

   Economic activity status: Economically active (excluding full-time students):In employment:Employee  \
0                                              32298
1                                              47228
2                                              47224
3                                              73699
4                                              42072

   Economic activity status: Economically active (excluding full-time students): In employment: Employee: Part-time  \
0                                               9575
1                                              14198
2                                              14167
3                                              19945
4                                              10748

   Economic activity status: Economically active (excluding full-time students): In employment: Employee: Full-time  \
0                                              22723
1                                              33030
2                                              33057
3                                              53754
4                                              31324

   Economic activity status: Economically active (excluding full-time students):In employment:Self-employed with employees  \
0                                                872
1                                               1245
2                                               1294
3                                               1994
4                                               1150

   ...  \
0  ...
1  ...
2  ...
3  ...
4  ...

   Economic activity status: Economically active and a full-time student: In employment: Self-employed without employees: Part-time  \
0                                                 16
1                                                 85
2                                                 39
3                                                 51
4                                                 22

   Economic activity status: Economically active and a full-time student: In employment: Self-employed without employees: Full-time  \
0                                                  8
1                                                 14
2                                                 17
3                                                 18
4                                                 10

   Economic activity status: Economically active and a full-time student: Unemployed  \
0                                                361
1                                               1431
2                                                479
3                                                759
4                                                368

   Economic activity status: Economically inactive  \
0                                            33934
1                                            51691
2                                            52716
3                                            65666
4                                            35774

   Economic activity status: Economically inactive: Retired  \
0                                              17910
1                                              23267
2                                              32033
3                                              37038
4                                              21930

   Economic activity status: Economically inactive: Student  \
0                                               3463
1                                               7974
2                                               4444
3                                               6878
4                                               3229

   Economic activity status: Economically inactive: Looking after home or family  \
0                                               4303
1                                               7527
2                                               5597
3                                               7670
4                                               3899

   Economic activity status: Economically inactive: Long-term sick or disabled  \
0                                               5432
1                                               7879
2                                               7268
3                                               8208
4                                               4179

   Economic activity status: Economically inactive: Other  RowID
0                                               2826           0
1                                               5044           1
2                                               3374           2
3                                               5872           3
4                                               2537           4

[5 rows x 35 columns]
            PCA1          PCA2  RowID
0 -118706.847964  -8431.809123      0
1  -59504.947070 -12419.762947      1
2  -58763.724539 -18634.677820      2
3   19428.286882  -7858.811127      3
4  -92845.543382  -3282.230848      4

In [11]:
import pandas as pd
from sklearn.cluster import KMeans

# Paths to the CSV files
tsne_path_2011 = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011.csv'
pca_path_2011 = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011.csv'
tsne_path_2021 = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/tSNE_2021.csv'
pca_path_2021 = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/PCA_2021.csv'

# Load the CSV files
tsne_2011 = pd.read_csv(tsne_path_2011)
pca_2011 = pd.read_csv(pca_path_2011)
tsne_2021 = pd.read_csv(tsne_path_2021)
pca_2021 = pd.read_csv(pca_path_2021)

# Apply K-means clustering
kmeans_tsne_2011 = KMeans(n_clusters=5).fit(tsne_2011[['tSNE1', 'tSNE2']])
kmeans_pca_2011 = KMeans(n_clusters=5).fit(pca_2011[['PCA1', 'PCA2']])
kmeans_tsne_2021 = KMeans(n_clusters=5).fit(tsne_2021[['tSNE1', 'tSNE2']])
kmeans_pca_2021 = KMeans(n_clusters=5).fit(pca_2021[['PCA1', 'PCA2']])

In [12]:
tsne_2011['Cluster'] = kmeans_tsne_2011.labels_
pca_2011['Cluster'] = kmeans_pca_2011.labels_
tsne_2021['Cluster'] = kmeans_tsne_2021.labels_
pca_2021['Cluster'] = kmeans_pca_2021.labels_

# Save the updated CSV files with new names to avoid overwriting issues
tsne_2011.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/tSNE_2011_clustered.csv', index=False)
pca_2011.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2011/PCA_2011_clustered.csv', index=False)
tsne_2021.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/tSNE_2021_clustered.csv', index=False)
pca_2021.to_csv('/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/2021/PCA_2021_clustered.csv', index=False)

In [13]:
import pandas as pd

tsne_path_2011 = '/Users/tanmaysagarhuria/Desktop/VisualAnalyticsCourseWork/Final_Combined_Dataset.csv'
# Load the CSV files
tsne_data = pd.read_csv(tsne_path)

# Add a row identifier to each DataFrame
tsne_data['RowID'] = tsne_data.index

# Print to verify the RowID column
print(tsne_data.head())
tsne_data.to_csv(tsne_path, index=False)

       tSNE1     tSNE2  RowID
0 -26.168562  2.888429      0
1  -1.969907 -3.730030      1
2  -2.538585 -4.162847      2
3  12.454047 -0.055952      3
4 -16.459934  0.495093      4